<h1>
    Courses
</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    {{#each data}}
     <tr>
        <td>{{ courseId }}</td>
        <td>{{ courseName }}</td>
    </tr>
    {{/each}}
</table>